<%= render :partial => '/admin/menu' %>

<h2><%=l('Update Resource Practice')%></h2>

<% labelled_tabular_form_for :resource_practice, @resource_practice, :url => { :action => "update", :id => @resource_practice.id } do |f| %>
<%= render :partial => 'form', :locals => { :f => f } %>

<%= submit_tag l(:button_save) %> | <%= link_to 'Cancel', :back %>
<% end %>

<% html_title(l('Update Resource Practice')) -%>
