<%= render :partial => '/admin/menu' %>

<h2><%= html_title(l(:label_erma_update, :tab => 'Client'))%></h2>

<% labelled_tabular_form_for :client, @client, :url => { :action => "update", :id => @client.id } do |f| %>
<%= render :partial => 'form', :locals => { :f => f } %>

<%= submit_tag l(:button_save) %> | <%= link_to 'Cancel', :controller => "clients" %>
<% end %>
