<%= render :partial => '/admin/menu' %>

<h2><%= html_title(l(:label_erma_update_sow))%></h2>

<% labelled_tabular_form_for :sow, @sow, :url => { :action => "update", :id => @sow.id } do |f| %>
<%= render :partial => 'form', :locals => { :f => f, :projects => @projects } %>

<%= submit_tag l(:button_save) %> | <%= link_to 'Cancel', :back %>
<% end %>
