<%= error_messages_for 'status' %>

<div class="box">
<!--[form:status]-->
<p><%= f.text_field :name, :size => 30 %><br /><em><%= l(:text_caracters_maximum, 30) %></em></p>

</div>
<!--[eoform:status]-->

